main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
}

section {
    margin-bottom: 70px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    align-items: center;
}

form input[type="text"],
form input[type="password"] {
    background-color: #fff8ee;
}

form button {
    background-color: #f28c8c;
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    cursor: pointer;
}
