<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Scoop Ice Cream</title>
    <link rel="stylesheet" href="../static/css/index_styles.css">
</head>
<body>
    <header>
        <img src="../static/img/logo.jpeg" alt="Ice Cream Logo">
        <h1>Sweet Scoop Ice Cream</h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="customize_order.html">Customize Order</a>
         <a href="menu_view.html">Menu View</a>
        <a href="order_summary.html">Order Summary</a>
    </nav>
    <main>
        <section>
            <h2>About Us</h2>
            <p>Sweet Scoop Ice Cream is your go-to place for delicious ice cream. Browse flavors, customize your order, and explore seasonal specials.</p>
        </section>
        <section>
            <h2>Featured Flavors</h2>
            <ul>
                <li>Vanilla Dream</li>
                <li>Chocolate Bliss</li>
                <li>Strawberry Swirl</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2026 Sweet Scoop Ice Cream</p>
    </footer>
</body>
</html>
