<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Scoop Ice Cream</title>
    <link rel="stylesheet" href="login_styles.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="Ice Cream Logo">
        <h1>Sweet Scoop Ice Cream</h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
    </nav>
    <main>
        <!-- Login form -->
        <section>
            <h2>Welcome Back!</h2>
                <form>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br><br>
                    
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br><br>
                    
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Forgot Your Password?</label><br><br>

                    <button type="submit" href="menu_view.html">Login</button>
                </form>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2026 Sweet Scoop Ice Cream</p>
    </footer>
</body>
</html>
